@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Readex Pro";
}

body {
  background: #353535;
  line-height: 1.2rem;
}

footer {
  visibility: visible;
}

.StatusWidget-enter-done {
  visibility: visible;
}

.StatusWidget-enter-active {
  visibility: visible;
}

.StatusWidget-exit-active {
  visibility: visible;
}

.StatusWidget-enter {
  visibility: visible;
}

.StatusWidget-exit {
  visibility: visible;
}

.StatusWidget-exit-done {
  visibility: visible;
}

.stStatusWidget {
  visibility: visible;
}

.stStatusWidget > div {
  visibility: visible;
}

.stStatusWidget > div > img {
  visibility: visible;
}

.stStatusWidget > div > label {
  visibility: visible;
}

.stStatusWidget > div > span {
  visibility: visible;
}

.stToolbar {
  visibility: None;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.loader {
  font-size: 10px;
  position: relative;
  /* text-indent: -9999em; */
  border-top: 0.3em solid rgba(255, 255, 255, 0.2);
  border-right: 0.3em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.3em solid rgba(255, 255, 255, 0.2);
  border-left: 0.3em solid #a2aab0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*
.stSlider>div>div>div:first-child {
    height: 0.5rem;
}

.stSlider>div>div>div {
    font-weight: bold;
}

.stSlider>div>div>div>div>div {
    font-weight: bold;
}

.stSlider {
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    border-radius: 8px;
}

.stSlider>div>div>div>div {
    background-color: white;
}

.stSlider>label {
    position: absolute;
    bottom: -10%;
    left: 50%;
    width: 100%;
    z-index: 1;
} */

/* MENU && FOOTER */
#MainMenu {
  visibility: visible;
}

/*
.StatusWidget-enter-done>div>span {
    visibility: visible ;
} */

#bui-2>div>ul>li:nth-child(4),
/* Deploy App again? */
#bui-2>div>ul>li:nth-child(8),
/* Ask a question */
#bui-2>div>ul>li:nth-child(9),
/* Report a bug */
#bui-2>div>ul>li:nth-child(11),
/* StreamLit for teams */
#bui-2>div>ul>li:nth-child(13)

/* About */ {
  visibility: visible;
}
